html{
    text-decoration: rgb(158, 156, 156);
}
.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img
{
    display: block;
    border-radius: 100%;
}
div.flex-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    border: 0%;
    margin-top: 0px;
    margin-bottom: 80px;
    min-height: 50%;
}
ol{
    list-style: none;
    padding: 10%;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.paragraph{
    margin-left: 40px;
    width: 30%;
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
}
ul{
    list-style: none;
}
.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: start;
    order: row;
}
.github{
    color: black;
}
.item2{
    text-align: center;
}
.item3{
    text-align: end;
}